# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# Set Better Auth Environment Variables

# Set Secret Key: https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_SECRET=*******************

# Set Base URL
BETTER_AUTH_URL=http://localhost:3000

# Project Name
NUXT_PROJECT_NAME="PROJECT NAME"

# Project Full Name
NUXT_PROJECT_FULL_NAME="PROJECT FULL NAME"

# Project Description
NUXT_PROJECT_DESCRIPTION="PROJECT DESCRIPTION"

# Project Repository URL
NUXT_PROJECT_REPOSITORY_URL="PROJECT REPOSITORY URL"

# Project License Type
NUXT_PROJECT_LICENSE_TYPE="MIT"

# Project License URL
NUXT_PROJECT_LICENSE_URL="PROJECT LICENSE URL"
